@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --heading-font: 'Gluten', serif;
    --paragraph-font: 'Poppins', serif;

    --primary-color:  #0637B1;
    --secondary-color: #47A9FF;
    --accent1-color:#B3DEF9;
    --accent2-color: #FFC800;


    --nav-background-color: #FFC800;
    --nav-link-color: #0637B1;
    --nav-hover-link-color: #47A9FF;
    --nav-hover-background-color: #B3DEF9;
}


body {
    font-family: var(--paragraph-font); 
    max-width: 960px;
    padding: 20px;
}    
    
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2.0rem;
    margin: 10px;
}

h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 10px;
}

header {
    padding: 15px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    justify-items: center;
}

header img{
    width: 120px;
    height: auto;
    justify-self: end;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.3rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 15px 2rem;
    border: 1px solid var(--primary-color);
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}



.hero {
    position: relative;
    display: flex;
    justify-content: center;
}
    
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{ 
    position: absolute;
    display: block;
    top: 2rem;
    text-align: center;
    background-color: rgb(71, 169,255,0.60);
    padding: 10px;
    width: 920px;
}

.hero div {
    position: absolute;
    display: block;
    top: 8rem;
    background-color: rgb(71, 169,255,0.60);
    padding: 10px;
    width: 850px;
    height: auto;
}

.hero div img {
    float: right;
    width: 200px;
    height: auto;
}


.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    justify-items: center;
    background-color: var(--accent1-color);
    padding: 12px; 
    border: 1px solid var(--secondary-color)
}

.history-section h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    border-bottom: 1px solid var(--primary-color)
}

.history-section p {
    grid-row: 2/3;
    grid-column: 1/3;
    column-count: 2;
}


.adventures-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; 
    justify-items: center;
    padding: 1rem;
    background-color: var(--accent1-color);
    border: 1px solid  var(--secondary-color)
}

.adventures-section h2 {
    grid-column: 1/-1; 
    grid-row: 1/2;
}

.adventures-section figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.adventures-section img {
    width: 150px;
    height: auto;
    justify-self: center;
}


footer {
    display: flex;
    background-color: var(--nav-background-color);
    padding: 10px; 
    align-items: center;
    justify-content: space-around;
}

footer p {
    padding: 10px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* Contact Style */

#contact-heading {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
    padding: 10px;
    width: 920px;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}


.info-and-profile {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    grid-gap: 0.5rem;
}

.company-info, .employee-profile {
    background-color: var(--accent1-color);
    border: 2px solid var(--secondary-color);
    padding: 0.5rem;
    
}

.company-info h2 {
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
}

.company-info iframe {
    width:90%;
    height: 22rem;;
    margin: 1rem;
}

.employee-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 6rem auto;
    justify-content: center;
    align-items: start; 
   
}

.employee-profile h2 {
    grid-column: 1/4;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    align-self: start;
}

.employee-profile img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--secondary-color);
}

.employee-profile figure:nth-child(3) {
    align-self: end; 
}

.employee-profile figcaption {
    text-align: center;
}


.contact-form {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: black;
    background-color: var(--nav-hover-background-color);
    padding: 0.5rem;
    margin: 0.5rem 0 0;
    border: 2px solid var(--secondary-color);
}

.contact-form h2 {
    text-align: center;
    padding: 0.4rem;
}

form {
    display: grid;
}

.radio-group  {
    display: grid;
    grid-template-rows: auto;
    margin: 1rem 0;
}

.radio-group p {
    margin: 0.2rem 0;
}

label {
    padding: 0.1rem;
    margin: 0.5rem 0;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid rgba(28, 27, 27, 0.874); 
    border-radius: 0.3rem;
    margin: 0 0 0.7rem;
}

input[type="radio"] {
   width: 22px;
   height: auto;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    justify-self: start;
}


button {
    margin: 2rem auto 1rem;
    background-color: var(--nav-link-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
  
button:hover {
    background-color: var(--nav-background-color);
    color: var(--primary-color)
}

/* Trips Style */

#head {
    text-align: center;
    border-top: 2px solid var(--accent1-color);
    border-bottom: 2px solid var(--accent1-color);
    padding: 10px;
}

.book-a-trip {
    display: flex; 
    position: relative;
}

.book-a-trip img {
    width: 100%; 
}

#book  {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-items: center;
}

#book h2{
    position: absolute;
    display: block;
    top: 2rem;
    text-align: center;
    background-color: rgb(71, 169,255,0.8);
    padding: 10px;
    width: 920px; 
}

#book p{
    position: absolute;
    display: block;
    top: 8rem;
    text-align: center;
    background-color: rgba(71, 169, 255, 0.8);
    padding: 10px;
    width: 780px; 
    height: 18%;
}

#book a{
    position: absolute;
    display: block;
    top: 25rem;
    text-align: center;
    background-color: var(--nav-background-color);
    padding: 10px;
    width: 200px; 
    height: 10%;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.packages {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.basic-package, .premiun-package {
    background-color: var(--nav-hover-background-color);
    border: 2px solid var(--nav-hover-link-color);
    text-align: center;
    padding: 10px 0;
}

.description {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem auto;
    align-items: center;
    padding: 10px;
}

.basic-package .description:nth-of-type(2), .premiun-package .description:nth-of-type(2) {
    border-top: 2px solid var(--secondary-color);
}

.description h3 {
    grid-column: 1/3;
}

.description img {
    width: 200px;
    height: 290px;
    border: 2px solid var(--secondary-color);
    grid-column: 1/2;
    grid-row: 2/6;
}

.description p {
    text-align: left;
    padding: 5px 0;
}

.description a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: bold;
    background-color: var(--nav-background-color);
    margin: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 2px 0;
}

caption {
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
}

thead th {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: 2px solid var(--secondary-color);
}

tbody th {
    background-color: var(--secondary-color);
    color: rgb(2, 2, 50);
    padding: 10px;
    border: 2px solid var(--accent1-color);
    text-align: left;
}

tbody td {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 10px;
    border: 2px solid var(--secondary-color);
    text-align: left;
}

tbody tr:nth-child(even) td {
    background-color: white;
}


/* Home Style */

.home-page {
    display: flex; 
    position: relative;
    justify-content: center;
}

.home-page img {
    width: 100%;
    height: 45rem;
}

#h1-heading {
    position: absolute;
    background-color: rgb(71, 169,255,0.8);
    padding: 10px;
    top: 2rem;
    width: 100%;
    text-align: center;
}

.sign-up {
    position: absolute;
    background-color: rgb(71, 169,255,0.8);
    border: 2px solid  var(--primary-color);
    border-radius: 0.5rem;
    padding: 10px;
    top: 8rem;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem auto;
    background-color: var(--accent1-color);
    padding: 10px;
}

.content-grid h2 {
    grid-column: 1/4;
    justify-self: center;
}

.content-item {
    display: grid;
    grid-template-rows: 1fr 5rem;
    grid-gap: 10px;
    justify-items: center;
    text-align: center;
}

.content-item img {
    width: 200px;
    height: 150px;
    border: 2px solid var(--secondary-color);
}