@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
:root {
    --primary-color:  #0637B1;
    --secondary-color: #47A9FF;
    --accent1-color:#B3DEF9;
    --accent2-color: #FFC800;

    --heading-font: 'Gluten', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #FFC800;
    --nav-link-color: #0637B1;
    --nav-hover-link-color: #47A9FF;
    --nav-hover-background-color: #B3DEF9;
}

body {
    font-family: var(--paragraph-font); 
    max-width: 960px;
    padding: 20px;
}    
    
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
 
header {
  padding: 20px;
  background-color: var(--accent2-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.3rem;
    display: flex;
}
 
nav a { 
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}