* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(214, 53, 147);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(201, 33, 173);
    padding: 10px;
}    

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(77, 12, 55);
    padding: 2px;
    box-shadow: 0 0 30px rgb(175, 167, 167);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    clear: left;
} 

main {
    max-width: 840px;
}


aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 250px;
    height: auto;
}    

aside h2 {
    position: absolute;
    top: 16px;
    left: 100px;
    color: rgb(33, 6, 24)
}

footer {
    margin-top: 15px;
    border-top: 2px solid rgba(161, 19, 90, 0.705);
    text-align: center;
}    


/* Class Selectors */

.box { 
    margin: 1rem;
    border: 1px solid rgb(81, 36, 61);
    padding: 1rem;
    background-color: rgb(238, 159, 196);
    color:rgb(0, 0, 0);
  
}

