nav {
    background-color: rgb(214, 53, 147);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(201, 33, 173);
}    

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(77, 12, 55);
    padding: 2px;
    box-shadow: 0 0 30px rgb(175, 167, 167);
}

p {
    padding: 0;
} 

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(92, 9, 78, 0.637);
    padding: 1rem;
    background-color: rgb(214, 53, 147); 
    color: white;
    text-align: center;
}
  

aside img {
    width: 200px;
    height: auto;
}    

footer {
    margin-top: 15px;
    border-top: 2px solid rgba(161, 19, 90, 0.705);
    text-align: center;
}    