* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(214, 53, 147);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: rgb(201, 33, 173);
    padding: 0.5rem;
    border-bottom: 2px solid rgba(161, 19, 90, 0.705);
}    

main {
    margin: 1rem;
    grid-column: 2/3;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(77, 12, 55);
    padding: 2px;
    box-shadow: 0 0 30px rgb(175, 167, 167);
    float: right;
    margin: 1rem 1rem;
}
p {
    padding: 0;
    clear: left;
    margin: 1rem
} 

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 280px;
    height: 400px;
}    

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    color: rgb(33, 6, 24)
}

footer {
    margin-top: 15px;
    border-top: 2px solid rgba(161, 19, 90, 0.705);
    text-align: center;
}    


/* Class Selectors */

.box { 
    margin: 1rem;
    border: 1px solid rgb(81, 36, 61);
    padding: 1.2rem;
    background-color: rgb(238, 159, 196);
    color:rgb(0, 0, 0);
  
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}